<html>

<head>
    <meta charset="utf8">
    <title>Shopping List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
    <div ng-app="ShoppingList" ng-controller="ListController">
        <h1>Shopping List</h1>
        <ol>
            <li ng-repeat="x in myData">
                {{x.item}} [<span ng-click="removeItem(x.id)">X</span>]
            </li>
        </ol>
        <form ng-submit="addItem()">
            <input type="text" placeholder="item to add" ng-model="data.itemToAdd">
            <input type="submit" value="add">
        </form>
        <p>{{content}}</p>
    </div>

    <script>
        var app = angular.module("ShoppingList", []);
        app.controller("ListController", function($scope, $http) {
            $http({
                    method: "GET",
                    url: "getall.php"
                })
                .then(function mySucces(response) {
                    //
                    $scope.myData = response.data.items;
                }, function myError(response) {
                    // 
                    $scope.content = "Error: " + response.statusText;
                });

            $scope.addItem = function() {
                var item = $scope.data.itemToAdd;
                $http.get("additem.php?item=" + item)
                    .then(function mySucces(response) {
                        $scope.myData = response.data.items;
                    });
            }

            $scope.removeItem = function(id) {
                //alert('delete ' + id);
                $http.get("deleteitem.php?id=" + id)
                    .then(function(response) {
                        $scope.myData = response.data.items;
                    });
            }
        });
    </script>
</body>

</html>