<html>

<head>
    <title>Appointment</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: 'Kanit', sans-serif;
        }
        
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        
        th {
            font-size: 20px;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="displayData()">
    <div>
        <nav class="navbar navbar-inverse" style="background-color: #192439;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <center>
                        <form class="navbar-form">
                            <a class="navbar-brand" style="color: white;" href="index.html">APPOINTMENT</a>
                            <div class="form-group">
                                <select class="form-control" ng-change="time()" ng-model="start">
                                <option ng-repeat="x in select" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                            <font color="white">-</font>
                            <div class="form-group">
                                <select class="form-control" ng-change="time()" ng-model="end">
                                <option ng-repeat="x in select" value="{{x}}">{{x}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" ng-model="Search" placeholder="Search" style="width: 450px" ng-keyup="Complete(Search)">
                            </div>
                            <a href="insert.php" class="btn btn-info navbar-btn">New</a>
                        </form>
                    </center>
                </div>
            </div>
        </nav>
        <center>
            <h1>APPOINTMENT</h1>
        </center>
        <center>
            <table border="2" class="table table-bordered">
                <th style="background-color: #192439;" ng-click="orderBy('code')">
                    <font color="white">code</font>
                </th>
                <th style="background-color: #192439;" ng-click="orderBy('AP_name')">
                    <font color="white">Appointment</font>
                </th>
                <th style="background-color: #192439;" ng-click="orderBy('Com_name')">
                    <font color="white">Committee</font>
                </th>
                <th style="background-color: #192439;" ng-click="orderBy('start')">
                    <font color="white">Start</font>
                </th>
                <th style="background-color: #192439;" ng-click="orderBy('end')">
                    <font color="white">end</font>
                </th>
                <th style="background-color: #192439;" ng-click="orderBy('status')">
                    <font color="white">Status</font>
                </th>
                <th style="background-color: #192439;" ng-click="orderBy('link')">
                    <font color="white">link</font>
                </th>
                <th style="background-color: #192439;">
                    <font color="white">Update</font>
                </th>
                <th style="background-color: #192439;">
                    <font color="white">Delete</font>
                </th>

                <tr ng-repeat="x in names | filter : Search | orderBy : Order">
                    <td>{{ x.code }}</td>
                    <td>{{ x.AP_name }}</td>
                    <td>{{ x.Com_name }}</td>
                    <td>{{ x.start }}</td>
                    <td><span ng-if="x.end == '0000-00-00'">- </span>
                        <span ng-if="x.end != '0000-00-00'">{{ x.end }}</span></td>
                    <td> <span ng-if="x.status == 'A'">
                            <input type="checkbox" ng-click="status(x.id)"  >
                            Active
                        </span>
                        <span ng-if="x.status == 'X'">
                            <input type="checkbox" ng-click="status(x.id)" checked >
                            Expire
                        </span></td>
                    <td>{{ x.link }}</td>
                    <td><a href="edit.php?id={{x.id}}" class="btn btn-info btn-xs" ng-click="updateData()">Update</a></td>
                    <td><a href="delete.php?id={{x.id}}" class="btn btn-danger btn-xs" ng-click="deleteData()">Delete</a></td>
                </tr>
            </table>
            <div ng-show="!(names|filter : Search).length">
                NO DATA IN DATABASE
            </div>
        </center>
    </div>
</body>
<script src="function.js">
</script>

</html>